# Node modules
node_modules/
postman/
.postman/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Build folders
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db